<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>주문 완료 페이지</title>

  <link rel="stylesheet" href="../include/header.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="./order-finished.css" />
</head>

<body>
  <header data-include="../include/header.html"></header>
  <section class="wrapper">
    <p class="ordererName">주문이 정상적으로 완료 되었습니다.</p>
    <!--<a href="/my-page/my-order"><button class="BuyNow" type="button">주문조회하기</button></a>-->
  </section>
  <footer data-include="../include/footer.html"></footer>

  <script src="./order-finished.js" type="module"></script>
  <script src="../include/include.js" defer></script>
  <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
</body>
<footer></footer>

</html>