<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>이달의 작가 페이지</title>
  <script src="../../include/include.js" defer></script>
  <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="monthly-painter.css">
  <link rel="stylesheet" href="../include/header.css" />
  <script src="./monthly-painter.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <header data-include="../include/header.html"></header>

  <section class="wrapper">
    <h2 class="monthly-painter-title">Artist of this month</h2>

    <div class="monthly-painters">
    </div>
  </section>
  <footer data-include="../include/footer.html"></footer>
</body>

</html>