<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work-type</title>
    <link rel="stylesheet" href="./work-type.css">
    <link rel="stylesheet" href="../../include/header.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header data-include="../../include/header.html"></header>
    <section class="work-type">
        <span class="sub-title">카테고리 이름</span>
        <a class="add-product-button" href="/add-product">작품 등록</a>
        <ul class="work-wrapper">

        </ul>
    </section>
    <footer data-include="../../include/footer.html"></footer>

    <script src="./work-type.js" type="module" defer></script>
    <script src="../../include/include.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

</body>

</html>