<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개별 작품 페이지</title>
    <link rel="stylesheet" href="./work-detail.css">
    <link rel="stylesheet" href="../../include/header.css" />
</head>

<body>
    <header data-include="../../include/header.html"></header>
    <section class="wrapper">
        <div class="work-detail">
            <div class="page-left">
                <ul class="work-info">
                    <!-- <li><a href="">수정</a></li>
                    <li><a href="">삭제</a></li> -->
                    <li class="painter-link"><a href="" id="painter-link">작가 더 알아보기</a></li>
                </ul>
                <div id="img-container">
                    <img id="work-img" src="" , alt="작품사진">
                </div>
            </div>

            <div class="page-right" id="product-id" name="">
                <p id="work-type">작품type</p>
                <p id="work-name">작가 이름 | 작품이름</p>
                <p class="work-price">작품가격</p>
                <p class="work-explain">작품 설명</p>
                <div class="work-buttons">
                    <button class="BuyNow" type="button">구매하기</button>
                    <button class="addCart" type="button">장바구니</button>
                </div>

            </div>
        </div>
    </section>
    <footer data-include="../../include/footer.html"></footer>

    <script src="./work-detail.js" type="module"></script>
    <script src="../../include/include.js" defer></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

</body>

</html>