<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./abstract.css">
    <!-- <link rel="stylesheet" href="../register/register.css"> -->

    <link rel="stylesheet" href="../include/header.css" />
</head>

<body>
    <header data-include="../include/header.html"></header>


    <section class="work-type">
        <span class="sub-title">
            추상화
        </span>
        <ul class="work-wrapper">
        </ul>
    </section>
    <footer data-include="../include/footer.html"></footer>

    <!-- 페이지네이션 추가 -->

    <script src="abstract.js"></script>
    <script src="../include/include.js"></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

</body>

</html>