<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DécouvrirHeader</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link href="./header.css" type="text/css" rel="stylesheet" />
  <base href="/" />
  <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <a href="/">
      <h1>Découvrir</h1>
    </a>
    <div>
      <ul>
        <li><a href="/introduce">소개</a></li>
        <li><a href="/monthly-painter">이달의 작가</a></li>
        <li><a href="/products">작품</a></li>
      </ul>
      <ul>
        <li>
          <a href="/login"><i class="fa-solid fa-user"></i></a>
        </li>
        <li>
          <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <!-- <li class="logout">
          <button id="logout" onClick="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </li> -->
      </ul>
    </div>
  </nav>
  <!-- <script src="header.js"></script> -->
  <!-- <script src="./header.js"></script> -->

</body>

</html>