<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DécouvrirHeader</title>
  <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="sidemenu.css" />
  <!-- <link href="./reset.css" rel="stylesheet" /> -->
</head>

<body>
  <nav>
    <div class="sidebar">
      <h3>마이 페이지</h3>
      <!-- <h3 id="account-name">계정 이름</h3> -->
    </div>
    <div class="sidebar">
      <p class="menu-label"><b>계정정보</b></p>
      <ul class="menu-list">
        <!-- <li><a>회원정보 수정</a></li> -->
        <li><a>작가정보</a></li>
        <li><a>내 작품 모아보기</a></li>
        <!--작가 페이지로 이동-->
      </ul>
    </div>
    <div class="sidebar">
      <p class="menu-label"><b>쇼핑정보</b></p>
      <ul class="menu-list">
        <li><a>장바구니</a></li>
        <li><a>주문 / 배송</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>