/* 토글 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin: auto 0 auto 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#saveButton {
  background-color: #b4cac6;
}

#withdrawButton {
  background-color: #bfa0ab;
}

.logoutButton {
  width: 73px;
  height: 25px;
  background-color: #99bab5e0;
  border-radius: 10px;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 3px;
  font-weight: 800;
  cursor: pointer;
}

#introduceInput {
  margin-bottom: 20px;
}
