<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Découvrir</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="../include/header.css" />
    <link rel="stylesheet" href="./introduce.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header data-include="../include/header.html"></header>
    <section class="introduce-wrapper">
        <div class="welcome">Welcome!</div>
        <p class="site-info"><span>Découvrir</span>는 프랑스어로 <span>발견하다</span> 라는 뜻으로,
            </br>보다 쉽게 미술 작품을 올리고 구매하는 미술품 전문 거래 사이트입니다.</br>
            유명한 작가 보다 새로운 작가 및 숨어있던 작가를 발굴하는데 목표를 두고 있습니다.
        </p>
        <!-- <div>새로움을 발굴하다</div> -->

    </section>


    <!-- footer -->
    <footer data-include="../include/footer.html"></footer>
</body>
<script src="../include/include.js" defer></script>
<!-- <script type="module" src="./home.js"></script> -->
<script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

</html>